.dark {
    background-color: rgb(0, 0, 0);
    color: white;
    background-image: url('../../../assets/toppng.com-confetti-transparent-600x579.png');
}


.light {
    background-image: url('../../../assets/toppng.com-confetti-transparent-600x579.png');
    background-color: #fff;
}

.other {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(245, 245, 245, 0.806);
    background-image: url('../../../assets/toppng.com-confetti-transparent-600x579.png');
}

.btn-dark:hover {
    color: rgba(0, 0, 255, 0.219);
}

.btn-light:hover {
    color: rgba(0, 0, 255, 0.219);
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 15px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}